# ATENÇÃO: ESTE NOTEBOOK FOI FEITO NO R STUDIO PADRÃO

In [ ]:
# Coleta de Dados no MySQL utilizando o R

#### Para mais detalhes sobre a biblioteca RMariaDB consulte:
* https://cran.r-project.org/web/packages/RMariaDB/RMariaDB.pdf

##### Instalar o pacote RMariaDB

In [1]:
# Instalar o pacote RMariaD se for a primeira vez que for utlizar.

install.packages("RMariaDB")
print('Instalação concluída!')

also installing the dependencies 'bit', 'bit64', 'BH', 'plogr'

package 'bit' successfully unpacked and MD5 sums checked
package 'bit64' successfully unpacked and MD5 sums checked
package 'BH' successfully unpacked and MD5 sums checked
package 'plogr' successfully unpacked and MD5 sums checked
package 'RMariaDB' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\USER\AppData\Local\Temp\RtmpcfJH9g\downloaded_packages
[1] "Instalação concluída!"

##### Importar o pacote RMariaDB

In [2]:
#importação do pacote deve ser SEMPRE realizada
#library('RMariaDB')

#Importa pacote RMariaDB se ele ainda não foi carregado
if(!"RMariaDB" %in% (.packages())){require(RMariaDB)}

Loading required package: RMariaDB

In [3]:
library(RMariaDB)

**Observação 1:** A mensagem abaixo não indica um erro, é um alerta indicando a versão do R no qual o pacote RMariaDB foi construindo.

*Loading required package: RMariaDB
Warning message:
"package 'RMariaDB' was built under R version 3.6.3"*

**Observação 2:** A mensagem abaixo indica um erro, alertando que não existe o pacote RMariaDB instalado. Para corrigir, instale o pacote.

*Loading required package: RMariaDB
Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
"there is no package called 'RMariaDB'"*

In [4]:
#Conecta ao SGBD MySQL --> Banco de dados bootcamp
con <- dbConnect(MariaDB(), user = "root", password = "753dfx",
                 dbname = "bootcamp", host = "localhost",serverTimezone='UTC')

**OBS:** Caso ocorra o erro abaixo: 
*Error: Failed to connect: Plugin caching_sha2_password could not be loaded: The specified module could not be found.*

Acesse seu SGBD MySQL Server utilizando o MySQL Workbench e execute o comando abaixo no seu esquema de BD

    ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'igti';

Agora execute o comando de conexão novamente.

In [5]:
#Para listar quais tabela existem no esquema .bootcamp. execute:

#Lê a lista de tabelas no BD
tables <- dbListTables(con) 
print('===========')
tables

[1] "==========="

[1] "caracteristicageralimovel" "caracteristicasgerais"
[3] "cidade"                    "eduteste"
[5] "eduteste2"                 "estado"
[7] "imovel"                    "tipounidade"

In [6]:
#Para consultar quais os dados de uma tabela execute:
# dbReadTable(nome-da-conexao,"nome-da-tabela")

#Consulta os dados da tabela *estado*
tabledata <- dbReadTable(con,"estado")
tabledata

   CodEstadoIBGE NomeEstado          SiglaEstado Regiao
1  11            Rondónia            RO          Norte
2  12            Acre                AC          Norte
3  13            Amazonas            AM          Norte
4  14            Roraima             R           Norte
5  15            Pará                PA          Norte
6  16            Amapá               AP          Norte
7  17            Tocantins           TO          Norte
8  21            Maranhão            MA          Nordeste
9  22            Piauí               PI          Nordeste
10 23            Ceará               CE          Nordeste
11 24            Rio Grande do Norte RN          Nordeste
12 25            Paraíba             PB          Nordeste
13 26            Pernambuco          PE          Nordeste
14 27            Alagoas             AL          Nordeste
15 28            Sergipe             SE          Nordeste
16 29            Bahia               BA          Nordeste
17 31            Minas Gerais        MG          Sudeste
18 32            Espírito Santo      ES          Sudeste
19 33            Rio de Janeiro      RJ          Sudeste
20 35            São Paulo           SP          Sudeste
21 41            Paraná              PR          Sul
22 42            Santa Catarina      SC          Sul
23 43            Rio Grande do Sul   RS          Sul
24 50            Mato Grosso do Sul  MS          Centro-Oeste
25 51            Mato Grosso         MT          Centro-Oeste
26 52            Goiás               GO          Centro-Oeste
27 53            Distrito Federal    DF          Centro-Oeste

**OBS:** Veja que o resultado do comando acima demonstra que a tabela 'estado' não possue dados.

In [9]:
#Consulta os dados da tabela *tipounidade*
tabledata <- dbReadTable(con,"tipounidade")
tabledata

  idTipoUnidade dscTipoUnidade
1 1             Casa
2 2             Casa geminada
3 3             Apartamento tipo
4 4             Apartamento cobertura
5 5             Apartamento área privativa
6 6             Flat
7 7             Loft
8 8             Chácara

**OBS:** Veja que o resultado do comando acima demonstra que a tabela 'tipounidade' possue alguns dados.

In [7]:
#Para executar um comando SQL execute:
#dbSendQuery(nome-da-conexao,"comando")

# Vamos inserir uma nova linha na tabela tipounidade
# Cria o comando e salva na variável query
query <-  "INSERT INTO tipounidade(idTipoUnidade,dscTipoUnidade) VALUES(7,'Loft');"

results <- dbSendQuery(con,query)
print(results)

# Limpa resultados
dbClearResult(results)

ERROR: Error in dbSendQuery(con, query): não foi possível encontrar a função "dbSendQuery"

**OBS 1:** Caso ocorra o erro: *Error: Duplicate entry '6' for key 'tipounidade.PRIMARY' [1062]*

Isso significa que você violou a chave primária, ou seja, tentou inserir uma chave que já existe. Confira o valor da chave que esta inserindo, altere, e execute novamente.

**OBS 2:** Caso ocorra o erro: *Error: Column count doesn't match value count at row 1 [1136]*
Isso significa que você esta inserindo dados não compatíveis com a definição da tabela.

In [8]:
#Consulta os dados da tabela *tipounidade*
tabledata <- dbReadTable(con,"tipounidade")
tabledata

ERROR: Error in dbReadTable(con, "tipounidade"): não foi possível encontrar a função "dbReadTable"

In [9]:
id <- 8
desc <- 'Chácara'

query <-  paste("INSERT INTO tipounidade(idTipoUnidade,dscTipoUnidade) VALUES(",id,",'",desc,"');",sep='')

results <- dbSendQuery(con,query)
print(results)

# Limpa resultados
dbClearResult(results)

ERROR: Error in dbSendQuery(con, query): não foi possível encontrar a função "dbSendQuery"

In [10]:
#Consulta os dados da tabela *tipounidade*
tabledata <- dbReadTable(con,"tipounidade")
tabledata

ERROR: Error in dbReadTable(con, "tipounidade"): não foi possível encontrar a função "dbReadTable"

##### Instalar o pacote xlsx

In [11]:
install.packages('xlsx')

also installing the dependencies 'rJava', 'xlsxjars'

  There is a binary version available but the source version is later:
      binary source needs_compilation
rJava 0.9-12 0.9-13              TRUE

  Binaries will be installed
package 'rJava' successfully unpacked and MD5 sums checked
package 'xlsxjars' successfully unpacked and MD5 sums checked
package 'xlsx' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\USER\AppData\Local\Temp\RtmpSctiim\downloaded_packages

##### Importar o pacote xlsx

In [12]:
#Importa pacote xlsx se ele ainda não foi carregado
if(!"xlsx" %in% (.packages())){require(xlsx)}

Loading required package: xlsx
Warning message:
"package 'xlsx' was built under R version 3.6.3"Error: package or namespace load failed for 'xlsx':
 .onLoad failed in loadNamespace() for 'rJava', details:
  call: fun(libname, pkgname)
  error: JAVA_HOME cannot be determined from the Registry

In [13]:
#Antes de excutar esta célula, garanta que o caminho do arquivo estados.xlsx esteja correto.

filename <- "C:/Bootcamp/Datasets/XLS/estados.xlsx"
print(filename)

insertdata <- read.xlsx(filename, sheetIndex=1, header=TRUE,encoding="UTF-8")
print("Lista de estados existentes no arquivo:")
insertdata

[1] "C:/Bootcamp/Datasets/XLS/estados.xlsx"

ERROR: Error in read.xlsx(filename, sheetIndex = 1, header = TRUE, encoding = "UTF-8"): não foi possível encontrar a função "read.xlsx"

**OBS:** As colunas da tabela estado são: *CodEstadoIBGE,NomeEstado,SiglaEstado,Regiao*

In [ ]:
dbWriteTable(con,'estado',insertdata,append = TRUE)

In [ ]:
#Consulta os dados da tabela *estado*
results <- dbReadTable(con,"estado")
results

In [ ]:
query <- "SELECT * FROM estado;"

results <- dbSendQuery(con,query)
results

**Obs:** O retorno do comando *dbSendQuery* indica que se o comando SQL passado para a variável *query* foi executado com sucesso ou não.

In [ ]:
# Limpa resultados
dbClearResult(results)

results <- dbGetQuery(con,query)
results

In [ ]:
#

In [ ]:
# Desconectar do banco de dados
dbDisconnect(con)