# Coleta de Dados no MySQL utilizando o Python

In [ ]:
conda install -c anaconda mysql-connector-python

#### Para mais detalhes sobre o pacote mysql.connector consulte:
* https://www.w3schools.com/python/python_mysql_getstarted.asp

### OBSERVAÇÃO

#### Antes de executar este notebook pela primeira vez, instale o pacote mysql.connector

Para instalar o pacote, utilizando o prompt do Anaconda, execute o comando abaixo:

#### *conda install -c anaconda mysql-connector-python*

In [1]:
#conda install -c anaconda mysql-connector-python
#conda install -c anaconda mysql-connector-python
#conda install -c anaconda mysql-connector-python

In [3]:
import mysql.connector
print('mysql imported')

mysql imported

#### Conectar ao MySQL Server sem selecionar um banco de dados

In [2]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='753dfx'
)

print(mydb)

mycursor = mydb.cursor()

#Para criar um banco de dados use o comando abaixo
#mycursor.execute("CREATE DATABASE mydatabase")

<mysql.connector.connection.MySQLConnection object at 0x000001C222665908>

In [3]:
#Retorna todos os esquemas criados no seu servidor de Banco de Dados
mycursor.execute("SHOW DATABASES") 

for db in mycursor:
    print(db)

('bootcamp',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('workflow',)
('world',)

#### Conectar ao MySQL Server selecionand um banco de dados específico

In [4]:

mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='753dfx',
    database='bootcamp'
)

print(mydb)

mycursor = mydb.cursor()
print('conexão ok!')

<mysql.connector.connection.MySQLConnection object at 0x0000029D6DDDDCF8>
conexão ok!

In [5]:
#Retorna todas as tabelas criados no seu esquema de Banco de Dados 
mycursor.execute("SHOW TABLES")

for db in mycursor:
    print(db)

('caracteristicageralimovel',)
('caracteristicasgerais',)
('cidade',)
('eduteste',)
('eduteste2',)
('estado',)
('imovel',)
('tipounidade',)

In [7]:
# Inserir dados em uma tabela

query = "INSERT INTO caracteristicasgerais (idcaracteristicasGerais, dsccaracteristicasGerais) VALUES (%s, %s)"
values = (1, "Portaria 24 horas")

mycursor.execute(query, values)

#Fazer a confirmação da inserção
mydb.commit()

print(mycursor.rowcount, "registro(s) inserido(s).")

1 registro(s) inserido(s).

In [8]:
#Inserindo multiplos valores
values = [(2, "Elevador"),(3,"Piscina")]

mycursor.executemany(query, values)

mydb.commit()

print(mycursor.rowcount, "registro(s) inserido(s).")

2 registro(s) inserido(s).

In [9]:
#Consultar a tabela
mycursor.execute("SELECT * FROM caracteristicasgerais")

myresult = mycursor.fetchall() #todos os registros

for mydata in myresult:
    print(mydata)

(1, 'Portaria 24 horas')
(2, 'Elevador')
(3, 'Piscina')
(4, 'Salão de festas')
(5, 'Área gourmet')
(6, 'Água individual')
(7, 'Gás canalizado')
(8, 'Aquecimento solar')
(9, 'Vaga coberta')
(10, 'Vaga livre')
(11, 'Armários na cozinha')
(12, 'Closet')
(13, 'Armários no quarto')

In [10]:
mycursor.execute("SELECT idcaracteristicasGerais, dsccaracteristicasGerais FROM caracteristicasgerais")

myresult = mycursor.fetchone() #apenas primeiro registro

print(myresult)

(1, 'Portaria 24 horas')

##### Importar pacote csv

In [10]:
import csv
print('csv imported!')

csv imported!

In [11]:
# Leitura de arquivo sem utilizar biblioteca Pandas e impressão de 10 linhas do arquivo
# Conferir se seu arquivo foi salvo no caminho abaixo

filename = 'E:\\MEUS DOCUMENTOS\\001 Estudo\\IGTI - BOOTCAMP\\modulo2\\arquivos\\cidades.csv' 
contador = 0
#Abrir arquivo e inserir cada linha do arquivo na tabela cidade

with open(filename, 'r') as incsvfile:
    reader = csv.reader(incsvfile, delimiter=',')
    next(reader, None)  # skip the headers
    for line in reader: 
        print(line)
        
        contador += 1
        if contador == 10: break
        

incsvfile.close()

['1100015', '00015', "Alta Floresta D'Oeste", '11']
['1100379', '00379', 'Alto Alegre dos Parecis', '11']
['1100403', '00403', 'Alto Paraíso', '11']
['1100346', '00346', "Alvorada D'Oeste", '11']
['1100023', '00023', 'Ariquemes', '11']
['1100452', '00452', 'Buritis', '11']
['1100031', '00031', 'Cabixi', '11']
['1100601', '00601', 'Cacaulândia', '11']
['1100049', '00049', 'Cacoal', '11']
['1100700', '00700', 'Campo Novo de Rondônia', '11']

In [20]:
#Leitura de arquivo sem utilizar biblioteca Pandas
# Conferir se seu arquivo foi salvo no caminho abaixo

# filename = 'C:\Bootcamp\Datasets\CSV\cidades.csv'
filename = 'E:\\MEUS DOCUMENTOS\\001 Estudo\\IGTI - BOOTCAMP\\modulo2\\arquivos\\cidades.csv'
contador = 0

#Abrir arquivo e inserir cada linha do arquivo na tabela cidade

with open(filename, 'r') as incsvfile:
    reader = csv.reader(incsvfile, delimiter=',')
    next(reader, None)  # skip the headers
    for line in reader:       
        mycursor.execute ("INSERT INTO cidade (CodigoCompletoIBGE, CodigoCidadeIBGE,NomeCidade, CodEstadoIBGE)\
                  VALUES (%s, %s, %s, %s)",line)
        contador += 1
        
mydb.commit()

print('Foram incluídos: ',str(contador),' registros na tabela cidade')
#db.close()
incsvfile.close() #Fechar arquivo

Foram incluídos:  5570  registros na tabela cidade

**OBSERVAÇÃO:**

 Caso o erro abaixo ocorra, em qualquer momento deste notebook, significa que sua conexão com o banco de dados foi fechada, devido ao tempo de *timeout*. Basta executar a conexão novamente e executar os comando em seguida.

In [21]:
#Consutar a tabela cidade listando a quantidade de registros existentes nela. Seu resultado deve imprimir 5570.

mycursor.execute("SELECT count(*) FROM cidade")

myresult = mycursor.fetchone()

print(myresult)

(5570,)

In [22]:
mydb.close() #Fechar o banco de dados
print('BD fechado!')

BD fechado!

## A partir daqui você deve alterar seu notebook conforme orientações da atividade 10 do enunciado do trabalho prático.

Nas células abaixo foram deixadas algumas dicas para você seguir.

##### 1º) Importar as bibliotecas mysql.connector e csv

In [25]:
#Se você já importou anteriormente e não resetou seu kernel, não será necessário importar

import mysql.connector
import csv
print('Bibliotecas importadas!')

Bibliotecas importadas!

##### 2º) Fazer a conexão com seu banco de dados

In [49]:
# conexão banco de dados

mydb.close() #Fechar o banco de dados


mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='753dfx',
    database='bootcamp'
)

print(mydb)

mycursor = mydb.cursor()
print('BD conectado!')

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C6491EB108>
BD conectado!

##### 3º) Abrir o arquivo 'caracteristicaImovel.txt' e inserir cada linha lida na tabela 'caracteristicageralimovel'

In [42]:
# Leitura de arquivo sem utilizar biblioteca Pandas e impressão de 5 linhas do arquivo
# Conferir se seu arquivo foi salvo no caminho abaixo

filename = 'E:\\MEUS DOCUMENTOS\\001 Estudo\\IGTI - BOOTCAMP\\modulo2\\arquivos\\caracteristicageralimovel.txt' 
contador = 0

#Abrir arquivo e inserir cada linha do arquivo na tabela cidade

with open(filename, 'r') as txtfile:
    reader = csv.reader(txtfile, delimiter=',')
    #next(reader, None)  # skip the headers   

    for line in reader: 
        print(line)        
        contador += 1        
        #if contador == 5: break
        
print('O arquivo tem:', str(contador), 'linhas!')
txtfile.close()

['3', '23', '0']
['3', '26', '0']
['3', '29', '1']
['4', '3', '1']
['4', '10', '0']
['4', '15', '0']
['4', '16', '0']
['4', '20', '1']
['4', '22', '1']
['4', '23', '1']
['4', '26', '0']
['4', '29', '1']
['7', '3', '1']
['4', '10', '0']
['5', '15', '0']
['4', '16', '0']
['4', '20', '1']
['4', '22', '1']
['6', '23', '1']
['8', '26', '0']
['4', '29', '0']
['8', '3', '0']
['5', '10', '1']
['6', '15', '1']
['8', '16', '1']
['5', '20', '1']
['6', '22', '0']
['4', '23', '1']
['5', '26', '0']
['6', '29', '0']
['13', '3', '1']
['13', '10', '1']
['12', '15', '0']
['12', '16', '0']
['11', '20', '1']
['11', '22', '0']
['13', '23', '1']
['12', '26', '1']
['11', '29', '1']
['9', '31', '1']
['10', '31', '0']
['9', '32', '0']
['10', '32', '0']
['9', '33', '0']
['10', '33', '1']
['9', '34', '1']
['10', '34', '1']
['9', '35', '0']
['10', '35', '1']
['8', '31', '0']
['8', '32', '0']
['8', '33', '0']
['8', '34', '1']
['8', '35', '0']
['7', '31', '0']
['7', '32', '1']
['7', '33', '1']
['7', '34', '1']
['7', '35', '1']
['2', '31', '0']
['2', '32', '1']
['2', '33', '0']
['2', '34', '1']
['2', '35', '0']
['3', '31', '0']
['3', '32', '0']
['3', '33', '0']
['3', '34', '0']
['3', '35', '0']
['1', '31', '0']
['1', '32', '0']
['1', '33', '0']
['1', '34', '1']
['1', '35', '0']
['12', '31', '0']
['12', '32', '0']
['12', '33', '0']
['12', '34', '1']
['12', '35', '0']
['13', '31', '1']
['13', '32', '0']
['13', '33', '1']
['13', '34', '1']
['13', '35', '1']
['11', '31', '1']
['11', '32', '1']
['11', '33', '1']
['11', '34', '1']
['11', '35', '1']
['6', '31', '1']
['6', '32', '0']
['6', '33', '0']
['6', '34', '1']
['6', '35', '0']
['5', '31', '0']
['5', '32', '0']
['5', '33', '0']
['5', '34', '1']
['5', '35', '0']
['4', '31', '0']
['4', '32', '0']
['4', '33', '0']
['4', '34', '1']
['4', '35', '1']
O arquivo tem: 104 linhas!

In [43]:
### tive que desligar a FOREIGN_KEY
setar_chave = 'SET FOREIGN_KEY_CHECKS=0;'
mycursor.execute(setar_chave)

print('Chave desligada!')

Chave desligada!

In [44]:
# APPEND DO ARQUIVO NA TABELA

filename = 'E:\\MEUS DOCUMENTOS\\001 Estudo\\IGTI - BOOTCAMP\\modulo2\\arquivos\\caracteristicageralimovel.txt' 
query = "INSERT INTO caracteristicageralimovel (idCaracteristicasImovel, idcaracteristicasGerais, idImovel, temCaracteristica) \
VALUES (default, %s, %s, %s)"
contador = 0
#Abrir arquivo e inserir cada linha do arquivo na tabela cidade

with open(filename, 'r') as txtfile:
    reader = csv.reader(txtfile, delimiter=',')
    #next(reader, None)  # skip the headers
    for line in reader: 
        mycursor.execute(query,line)
        contador += 1
        #if contador == 5: break
        
#mydb.commit()

print('Foram incluídos: ',str(contador),' registros na tabela cidade')
#db.close()
txtfile.close() #Fechar arquivo

Foram incluídos:  104  registros na tabela cidade

##### 4º) Fazer a confirmação da inserção (commit)

In [45]:
mydb.commit()

##### 5º) Conferir se os dados foram incluídos na tabela

In [12]:
#Consultar a tabela
mycursor.execute("SELECT * FROM caracteristicageralimovel")
myresult = mycursor.fetchall() #todos os registros
contador = 0

for mydata in myresult:
    contador +=1
    print(mydata)
    
print(str(contador),' registros!')

(1, 3, 23, 0)
(2, 3, 26, 0)
(3, 3, 29, 1)
(4, 4, 3, 1)
(5, 4, 10, 0)
(6, 4, 15, 0)
(7, 4, 16, 0)
(8, 4, 20, 1)
(9, 4, 22, 1)
(10, 4, 23, 1)
(11, 4, 26, 0)
(12, 4, 29, 1)
(13, 7, 3, 1)
(14, 4, 10, 0)
(15, 5, 15, 0)
(16, 4, 16, 0)
(17, 4, 20, 1)
(18, 4, 22, 1)
(19, 6, 23, 1)
(20, 8, 26, 0)
(21, 4, 29, 0)
(22, 8, 3, 0)
(23, 5, 10, 1)
(24, 6, 15, 1)
(25, 8, 16, 1)
(26, 5, 20, 1)
(27, 6, 22, 0)
(28, 4, 23, 1)
(29, 5, 26, 0)
(30, 6, 29, 0)
(31, 13, 3, 1)
(32, 13, 10, 1)
(33, 12, 15, 0)
(34, 12, 16, 0)
(35, 11, 20, 1)
(36, 11, 22, 0)
(37, 13, 23, 1)
(38, 12, 26, 1)
(39, 11, 29, 1)
(40, 9, 31, 1)
(41, 10, 31, 0)
(42, 9, 32, 0)
(43, 10, 32, 0)
(44, 9, 33, 0)
(45, 10, 33, 1)
(46, 9, 34, 1)
(47, 10, 34, 1)
(48, 9, 35, 0)
(49, 10, 35, 1)
(50, 8, 31, 0)
(51, 8, 32, 0)
(52, 8, 33, 0)
(53, 8, 34, 1)
(54, 8, 35, 0)
(55, 7, 31, 0)
(56, 7, 32, 1)
(57, 7, 33, 1)
(58, 7, 34, 1)
(59, 7, 35, 1)
(60, 2, 31, 0)
(61, 2, 32, 1)
(62, 2, 33, 0)
(63, 2, 34, 1)
(64, 2, 35, 0)
(65, 3, 31, 0)
(66, 3, 32, 0)
(67, 3, 33, 0)
(68, 3, 34, 0)
(69, 3, 35, 0)
(70, 1, 31, 0)
(71, 1, 32, 0)
(72, 1, 33, 0)
(73, 1, 34, 1)
(74, 1, 35, 0)
(75, 12, 31, 0)
(76, 12, 32, 0)
(77, 12, 33, 0)
(78, 12, 34, 1)
(79, 12, 35, 0)
(80, 13, 31, 1)
(81, 13, 32, 0)
(82, 13, 33, 1)
(83, 13, 34, 1)
(84, 13, 35, 1)
(85, 11, 31, 1)
(86, 11, 32, 1)
(87, 11, 33, 1)
(88, 11, 34, 1)
(89, 11, 35, 1)
(90, 6, 31, 1)
(91, 6, 32, 0)
(92, 6, 33, 0)
(93, 6, 34, 1)
(94, 6, 35, 0)
(95, 5, 31, 0)
(96, 5, 32, 0)
(97, 5, 33, 0)
(98, 5, 34, 1)
(99, 5, 35, 0)
(100, 4, 31, 0)
(101, 4, 32, 0)
(102, 4, 33, 0)
(103, 4, 34, 1)
(104, 4, 35, 1)
(105, 1, 1, 0)
(106, 1, 2, 0)
(107, 2, 4, 0)
(108, 1, 5, 1)
(109, 2, 6, 0)
(110, 2, 7, 1)
(111, 1, 8, 0)
(112, 1, 9, 0)
(113, 1, 11, 0)
(114, 1, 12, 1)
(115, 2, 13, 1)
(116, 1, 14, 1)
(117, 2, 17, 0)
(118, 1, 18, 1)
(119, 2, 19, 0)
(120, 2, 21, 0)
(121, 2, 24, 0)
(122, 2, 25, 0)
(123, 1, 27, 0)
(124, 2, 28, 1)
(125, 1, 30, 1)
(126, 5, 1, 1)
(127, 4, 2, 0)
(128, 5, 4, 1)
(129, 5, 5, 0)
(130, 4, 6, 0)
(131, 3, 7, 1)
(132, 5, 8, 1)
(133, 4, 9, 1)
(134, 4, 11, 0)
(135, 4, 12, 1)
(136, 4, 13, 1)
(137, 5, 14, 1)
(138, 3, 17, 0)
(139, 3, 18, 0)
(140, 4, 19, 1)
(141, 3, 21, 1)
(142, 3, 24, 1)
(143, 4, 25, 0)
(144, 4, 27, 1)
(145, 5, 28, 1)
(146, 4, 30, 0)
(147, 7, 1, 0)
(148, 7, 2, 1)
(149, 7, 4, 1)
(150, 7, 5, 1)
(151, 8, 6, 0)
(152, 6, 7, 0)
(153, 7, 8, 1)
(154, 8, 9, 0)
(155, 7, 11, 1)
(156, 8, 12, 0)
(157, 8, 13, 1)
(158, 6, 14, 1)
(159, 6, 17, 1)
(160, 7, 18, 1)
(161, 8, 19, 0)
(162, 7, 21, 0)
(163, 8, 24, 1)
(164, 6, 25, 1)
(165, 7, 27, 1)
(166, 8, 28, 1)
(167, 7, 30, 0)
(168, 9, 1, 0)
(169, 9, 2, 1)
(170, 10, 4, 0)
(171, 10, 5, 0)
(172, 9, 6, 0)
(173, 9, 7, 1)
(174, 9, 8, 0)
(175, 10, 9, 0)
(176, 9, 11, 0)
(177, 10, 12, 1)
(178, 10, 13, 1)
(179, 10, 14, 1)
(180, 9, 17, 1)
(181, 9, 18, 1)
(182, 9, 19, 1)
(183, 9, 21, 0)
(184, 9, 24, 1)
(185, 10, 25, 1)
(186, 9, 27, 1)
(187, 9, 28, 1)
(188, 10, 30, 0)
(189, 13, 1, 0)
(190, 13, 2, 0)
(191, 13, 4, 1)
(192, 11, 5, 0)
(193, 13, 6, 1)
(194, 12, 7, 1)
(195, 12, 8, 1)
(196, 12, 9, 1)
(197, 11, 11, 1)
(198, 12, 12, 0)
(199, 12, 13, 1)
(200, 12, 14, 0)
(201, 11, 17, 1)
(202, 12, 18, 0)
(203, 11, 19, 0)
(204, 13, 21, 0)
(205, 12, 24, 0)
(206, 13, 25, 1)
(207, 13, 27, 0)
(208, 12, 28, 1)
(209, 13, 30, 0)
(210, 1, 3, 1)
(211, 1, 10, 0)
(212, 1, 15, 0)
(213, 1, 16, 0)
(214, 1, 20, 1)
(215, 1, 22, 0)
(216, 1, 23, 1)
(217, 1, 26, 1)
(218, 1, 29, 0)
(219, 2, 3, 1)
(220, 2, 10, 1)
(221, 2, 15, 0)
(222, 2, 16, 1)
(223, 2, 20, 0)
(224, 2, 22, 0)
(225, 2, 23, 0)
(226, 2, 26, 0)
(227, 2, 29, 1)
(228, 3, 3, 1)
(229, 3, 10, 0)
(230, 3, 15, 0)
(231, 3, 16, 0)
(232, 3, 20, 0)
(233, 3, 22, 0)
233  registros!

##### 6º) Fechar arquivo e banco de dados

In [50]:
### tive que desligar a FOREIGN_KEY
setar_chave = 'SET FOREIGN_KEY_CHECKS=1;'
mycursor.execute(setar_chave)
print('Chave ligada novamente!')

mydb.close() #Fechar o banco de dados
print('BD fechado!')

Chave ligada novamente!
BD fechado!

In [ ]:
#########################################################################################

# PROVA

In [4]:
import mysql.connector
print('mysql imported')

mysql imported

In [14]:
# conexão banco de dados

#mydb.close() #Fechar o banco de dados


mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='753dfx',
    database='bootcamp'
)

print(mydb)

mycursor = mydb.cursor()
print('BD conectado!')

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029850BD6D88>
BD conectado!

In [21]:
# APPEND DO ARQUIVO NA TABELA

filename = 'E:\\MEUS DOCUMENTOS\\001 Estudo\\IGTI - BOOTCAMP\\modulo2\\arquivos\\edu2.txt' 

with open(filename, 'r',encoding='utf-8') as fileobject:
    for line in fileobject: 
        
        query = "INSERT INTO eduteste2 (idEdu) VALUES (%s)" % line
        
        mycursor.execute(query)
        
        
        
mydb.commit()

#db.close()
txtfile.close() #Fechar arquivo